@page
@functions
{
  public string DayName { get; set; }
  public void OnGet()
  {
    ViewData["Title"] = "Northwind Website";
    Model.DayName = DateTime.Now.ToString("dddd");
  }
}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Welcome ASP.NET Core!</title>
</head>

<body>
  <div class="container">
    <p class="jumbotron">
      <a class="btn btn-primary" href="suppliers">
        Learn more about our suppliers</a>
    </p>
    <p class="jumbotron">
      <a class="btn btn-primary" href="packtfeatures/employees">
        Contact our employees
      </a>
    </p>
  </div>
</body>

</html>
